<div class="flex-container">
  <div class="flex-container outer-card popout img1">

    <div class="overlay white">
      <div class="block-header">
        <h1>About</h1>
      </div>
      <div class="row p-5">
        <div class="col-md-5 pb-5">
          <h1 class="kalam">Our Shows</h1>
          <p>Nightingale Ensemble brings joy back to classical music through
            engaging and accessible performances. We believe concerts should be
            fun expressions of joy. Come to Nightingale performances expecting
            food, drink, and great music!
          </p>
        </div>
        <div class="col-md-7">
          <h1 class="kalam">Our Mission</h1>
          <p class="pb-4">
            Nightingale Ensemble uses music as a tool for social change by
            commissioning new works from a diverse group that represent the breadth
            and depth of classical composers in the modern world.
          </p>
          <p class="pb-4">
            The ensemble partners with composers and other musicians to broaden
            the repertoire for instruments and push musical pairings to find
            exciting, new soundscapes.
          </p>
          <p>
            Nightingale Ensemble emphasizes finding contemporary composers who
            will bring a unique voice to their compositions through a range of
            backgrounds that are as diverse as our world is today!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
