<div class="about-ng">
  <p>
    Nightingale Ensemble uses music as a tool for social change by commissioning
    new works from a diverse group that represent the breadth and depth of
    classical composers in the modern world. In addition, its eclectic
    instrumentation allows composers to explore new musical landscapes that are
    seldom heard in the world today.
  </p>
  <p>
    The ensemble partners with composers and other musicians to develop works for
    trios, duets, and even for soloists to broaden the repertoire for these
    instruments and push the pairing of instruments to find new music colors. It
    also uses its unusual instrumentation to its advantage in order to perform
    lesser known works by major composers, such as those by Igor Stravinsky, Tōru Takemitsu,
    and many others.
  </p>
  <p>
    Nightingale Ensemble emphasizes finding contemporary composers who will bring
    a unique voice to their compositions through a range of backgrounds that are
    as diverse as our world is today, and welcome hearing from composers who have
    an idea for an exciting new composition that involves an instrumental ensemble
    not often seen on stages!
  </p>
</div>
