<div class="member-bio">
  <h1>Flute</h1>
  <p>
    <a href="https://www.hoffmanflute.com/home"
       target="blank">Alexandria Hoffman</a>
    has performed with the New World Symphony, the Civic Orchestra of Chicago, the
    Cleveland Pops Orchestra, and the
    <a href="https://musicfestival.com/index.php"
       target="blank">Peninsula Music Festival Orchestra.</a>
    An accomplished piccolo player, Alex won first prize in the National Flute
    Association’s Piccolo Audition and Masterclass Competition (2017). Also in 2017,
    Alex performed Vivaldi’s Concerto in C Major with the Peninsula Music Festival
    Orchestra in Door County, WI. She has performed in piccolo masterclasses for
    Jennifer Gunn, Cynthia Meyers, and Alyce Johnson. In 2016, Alex was a featured
    soloist alongside
    <a href="http://www.clairechase.net/calendar/2016/4/16/salvatore-sciarrinos-cerchio-tagliato-dei-suoni-chicago-premiere"
       target="blank">Claire Chase</a>
    in the International Contemporary Ensemble’s concert of Cutting the Circle of
    Sounds by Salvatore Sciarrino. Other performance highlights include chamber
    concerts with noted jazz musicians Victor Goines and Branford Marsalis.
  </p>
</div>

​
