<div class="flex-container">
  <div class="flex-container outer-card">

    <div class="block-header">
      <h1>Upcoming Performance</h1>
    </div>

    <div class="row inner-card">

      <div class="col-md-6 block-info">
        <div class="event">
          <p class="date">Friday, March 18</p>
          <p class="location">Ball State University</p>
          <p>2000 W University Ave</p>
          <p>Muncie, IN 47306</p>
        </div>
      </div>

      <div class="col-md-6 block-info shaded">
        <div class="event">
          <a href="http://www.21cguitar.com/" target="blank">
            <h2>The 21st Century Guitar</h2>
            <p>The Guitar in Contemporary Chamber Music</p>
          </a>
          <p class="list">Including works from Parisa Sabet, Ian Wiese, Zachary James Ritter, Zoë Wallace and others.</p>
        </div>
        <a href="http://www.21cguitar.com/" target="blank" class="arrow-link"><i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
</div>
