<header id="main-header" class="header">
  <div id="header-logo" class="hidden">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/ng-logo.png" alt="Nightingale Ensemble"></a>
  </div>

  <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/music">Our Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/support">Support</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
</header>
