<div class="member-bio">
  <h1>Harp</h1>
  <p>
    With twenty years of performing experience,
    ​<a href="https://lbharp.com/" target="blank">LeAnne Bennion</a>
    has been highly praised for her masterful ability to create a classy atmosphere
    for any event. She has played at distinguished venues such as the Palmer
    House, Chicago Symphony Hall, The Drake Tower, the Chicago Botanic
    Garden, St. James Cathedral and she regularly plays for tea time at the
    Langham Hotel and the Palmer House Hilton. LeAnne has performed in
    numerous states as well as countries across Europe and South America. As
    a freelance harpist and experienced chamber artist, she performs with
    choirs, for weddings, funerals, business events and private parties. In
    particular, LeAnne enjoys playing vintage jazz and the music of iconic
    figures such as Frank Sinatra, Louis Armstrong, George Gershwin and Ella
    Fitzgerald.
  </p>
</div>
