<div class="row headshots">
  {% include member.html id="01"
                         src="../images/val2.jpeg"
                         name="Valerie Beck,"
                         instrument="Soprano"
  %}
  {% include member.html id="02"
                         src="../images/leanne2.jpeg"
                         name="LeAnne Bennion,"
                         instrument="Harp"
  %}
  {% include member.html id="03"
                         src="../images/robin2.jpeg"
                         name="Robin Meiksins,"
                         instrument="Flute"
  %}
</div>
<div class="row headshots">
  {% include member.html id="04"
                         src="../images/zoe2.jpeg"
                         name="Zoë Wallace,"
                         instrument="Guitar"
  %}

  <div id="00" class="col-4 text-center">
    <img src="{{ site.baseurl }}/images/logo.jpeg" alt="Nightingale Logo" class="img-sq">
  </div>

  {% include member.html id="05"
                         src="../images/ryan2.jpeg"
                         name="Ryan Wallace,"
                         instrument="Guitar"
  %}
</div>
