<div class="row headshots">
  <div id="01"class="col-4 headshot text-center">
    <a href="#bios">
      {% include headshot.html src="../images/zoe2.jpeg" %}
      <div class="name">
        <h2>Valerie Beck,</h2>
        <h2>Soprano</h2>
      </div>
    </a>
  </div>

  <div id="02" class="col-4 headshot text-center">
    <a href="#bios">
      {% include headshot.html src="../images/zoe2.jpeg" %}
      <div class="name">
        <h2>LeAnne Bennion,</h2>
        <h2>harp</h2>
      </div>
    </a>
  </div>

  <div id="03" class="col-4 headshot text-center">
    <a href="#bios">
      {% include headshot.html src="../images/zoe2.jpeg" %}
      <div class="name">
        <h2>Robin Meiksins,</h2>
        <h2>flute</h2>
      </div>
    </a>
  </div>
</div>

<div class="row headshots">
  <div id="04" class="col-4 headshot text-center">
    <a href="#bios">
      {% include headshot.html src="../images/zoe2.jpeg" %}
      <div class="name">
        <h2>Zoë Wallace,</h2>
        <h2>guitar</h2>
      </div>
    </a>
  </div>

  <div id="00" class="col-4 text-center">
    <img src="{{ site.baseurl }}/images/logo.jpeg" alt="Nightingale Logo" class="img-sq">
  </div>

  <div id="05" class="col-4 headshot text-center">
    <a href="#bios">
      {% include headshot.html src="../images/zoe2.jpeg" %}
      <div class="name">
        <h2>Ryan Wallace,</h2>
        <h2>guitar</h2>
      </div>
    </a>
  </div>
</div>
