<div id="bio03" class="col-md-7 bio white-bg">
  <div class="bio-header">
    <h1>Robin Meiksins,</h1>
    <h1>Flute</h1>
  </div>
  <p>
    Robin Meiksins is a freelance contemporary flutist focused on
    collaboration with living composers. Chicago-based, she uses the
    Internet and online media to support and create collaboration. In
    2017, Robin completed her first collaborative YouTube project, 365
    Days of Flute. Each day featured a different work; each video was
    recorded and posted the same day.  In 2018, Robin completed the 52
    Weeks of Flute Project. Each week featured a workshop with a living
    composer, culminating in a performance on YouTube. Robin has since
    completed three other YouTube projects featuring exclusively works
    by living composers. She has premiered over 100 works and has
    performed at SPLICE Institute and Festival, the SEAMUS national
    conference, and Oh My Ears New Music Festival. Robin holds a masters
    degree from Indiana University’s Jacobs School of Music where she
    studied with Kate Lukas and Thomas Robertello. She also holds a
    Bachelors of Music with Honors from University of Toronto where she
    studied with Leslie Newman.
  </p>
</div>
