<div id="bio05" class="col-md-7 bio">
  <h1>Ryan Wallace</h1>
  <h1>Guitar</h1>
  <p>
    Ryan Wallace completed his bachelors degree in classical guitar at
    Webster University, and his masters degree at the San Francisco
    Conservatory, where he studied with Grammy award winning guitarist and
    composer Sergio Assad. In addition to private concerts and showcase
    events, Ryan has performed in a tribute event for the famous Romero
    brothers, in which his quartet played a variety of historical instruments
    from the Harris Guitar Collection, performed in various master classes
    around the country, and in 2016 premiered the guitar concerto For Carl
    Solomon at the San Francisco Center for New Music.
  </p>
</div>
