<div id="bio01" class="col-md-7 bio">
  <h1>Valerie Back</h1>
  <h1>Soprano</h1>
  <p>
    Michigan-native ​
    <a href="https://valerie-beck.com/" target="blank">Valerie Beck</a>
    found her passion for singing at Grand Valley State University where she earned
    her BM in Vocal Performance. Valerie was a crucial part of the Opera Theater
    department at GVSU with highlight roles of Dido (Purcell) and Third Lady
    (Mozart). Valerie worked with Opera Grand Rapids as an Emerging Artist and Opera
    Chorus member. New to Chicago, Valerie graduated with her Masters in Vocal
    Performance from the Chicago College of Performing Arts (2018). Recent roles for
    Valerie include Jo in Little Women (Adamo), the Mother in Mendelssohn’s
    Homecoming for CCPA and Mrs. Páskova/ Lapák in The Cunning Little Vixen. Last
    summer Valerie attended the Hawaii Performing Arts Festival where she covered
    the role of Jo and coached with the composer, Mark Adamo.
  </p>
</div>
