<div id="bio04" class="col-md-7 bio white-bg">
  <div class="bio-header">
    <h1>Zoë Wallace,</h1>
    <h1>Guitar</h1>
  </div>
  <p>
    <a href="https://www.zoeawallace.com/" target="blank">Zoë A. Wallace</a> is a
    classical composer and guitarist who is continually striving to broaden the
    repertoire for instruments in an ensemble setting. She has performed in a number
    of concerts as a soloist and in a duo throughout California, Illinois, and Utah,
    and has written pieces for such groups as the Fifth Wave Collective. Zoë
    received her Masters degree in classical guitar with Denis Azabagic and her
    Bachelors degree at San Francisco Conservatory of Music with Sergio Assad while
    also studying composition with Dr. Marc Mellits and Dr. Ryan Brown. Zoë is
    currently published by Erebus Music Publications.
  </p>
</div>
