---
layout: default
title: About
photo_credit: Photos courtesy of Sergio M.
---

<div class="top-banner">

</div>
<div class="flex-container">
  <div class="container-lg">
    <div class="bio">
      <div class="row p-5">

        <div class="col-md-7">
          <h1>Our Mission</h1>
          <p class="pb-4">
            Nightingale Ensemble uses music as a tool for social change by
            commissioning new works from a diverse group that represent the breadth
            and depth of classical composers in the modern world.
          </p>
          <p class="pb-4">
            The ensemble partners with composers and other musicians to broaden
            the repertoire for instruments and push musical pairings to find
            exciting, new soundscapes.
          </p>
          <p>
            Nightingale Ensemble emphasizes finding contemporary composers who
            will bring a unique voice to their compositions through a range of
            backgrounds that are as diverse as our world is today!
          </p>
        </div>
        <div class="col-md-5 pb-5">
          <h1>Our Shows</h1>
          <p>Nightingale Ensemble brings joy back to classical music through engaging, accessible performances. We believe concerts should be unpretentious expression of joy. Come to Nightingale performances expecting food, drink, and great music!</p>
        </div>
      </div>
    </div>
    <div class="row headshots">
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/zoe2.jpeg" %}
        <div class="name">
          <h2>Valerie Beck,</h2>
          <h2>Soprano</h2>
        </div>
      </div>
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/zoe2.jpeg" %}
        <div class="name">
          <h2>LeAnne Bennion,</h2>
          <h2>harp</h2>
        </div>
      </div>
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/zoe2.jpeg" %}
        <div class="name">
          <h2>Robin Meiksins,</h2>
          <h2>flute</h2>
        </div>
      </div>
    </div>
    <div class="row headshots">
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/zoe2.jpeg" %}
        <div class="name">
          <h2>Zoë Wallace,</h2>
          <h2>guitar</h2>
        </div>
      </div>
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/logo.jpeg" %}
        <div class="name">
          <h2></h2>
        </div>
      </div>
      <div class="col-4 headshot text-center">
        {% include headshot.html src="../images/zoe2.jpeg" %}
        <div class="name">
          <h2>Ryan Wallace,</h2>
          <h2>guitar</h2>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="members-img">

</div>

<div class="page-container">
  {% include bio_links.html %}


  <div class="members">
    <div class="member-row">
      <div class="member" id="val">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include val_bio.html %}
      </div>

      <div class="member" id="leanne">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include leanne_bio.html %}
      </div>
    </div>

    <div class="member-row">
      <div class="member" id="alex">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include alex_bio.html %}
      </div>

      <div class="member" id="zoe">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include zoe_bio.html %}
      </div>
    </div>

    <div class="member-row">
      <div class="member" id="ryan">
        {% include headshot.html src="../images/ryan.jpeg" %}
        {% include ryan_bio.html %}
      </div>
    </div>
  </div>
</div> -->
