---
layout: default
title: About
photo_credit: Photos courtesy of Sergio M.
---

<div class="members-img">

</div>

<div class="page-container">
  {% include bio_links.html %}

  {% include about-ng.html %}

  <div class="members">
    <div class="member-row">
      <div class="member" id="val">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include val_bio.html %}
      </div>

      <div class="member" id="leanne">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include leanne_bio.html %}
      </div>
    </div>

    <div class="member-row">
      <div class="member" id="alex">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include alex_bio.html %}
      </div>

      <div class="member" id="zoe">
        {% include headshot.html src="../images/zoe.jpeg" %}
        {% include zoe_bio.html %}
      </div>
    </div>

    <div class="member-row">
      <div class="member" id="ryan">
        {% include headshot.html src="../images/ryan.jpeg" %}
        {% include ryan_bio.html %}
      </div>
    </div>
  </div>
</div>
