---
layout: default
title: Our Music
---

<div class="col-12 white-bg mt-5">
  <div class="text-header">
    <h1>Recent Videos</h1>
  </div>
  <div class="row">
    {% include video.html src="https://www.youtube.com/embed/KewkSoDTASw"
                          title="title"
                          composer="composer"
    %}
    {% include video.html src="https://www.youtube.com/embed/KewkSoDTASw"
                          title="title"
                          composer="composer"
    %}
    {% include video.html src="https://www.youtube.com/embed/KewkSoDTASw"
                          title="title"
                          composer="composer"
    %}
  </div>

  <div class="row">
    {% include video.html src="https://www.youtube.com/embed/JaFEvn5nR-E"
                          title="title"
                          composer="composer"
    %}
    {% include video.html src="https://www.youtube.com/embed/JaFEvn5nR-E"
                          title="title"
                          composer="composer"
    %}
    {% include video.html src="https://www.youtube.com/embed/JaFEvn5nR-E"
                          title="title"
                          composer="composer"
    %}
  </div>
</div>

<div class="col-12 white-bg mt-5">
  <div class="text-header">
    <h1>Recent Audio</h1>
  </div>

  <div class="row">
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
  </div>

  <div class="row">
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
  </div>
</div>
