---
layout: default
title: Our Music
---

<div class="col-12 white-bg mt-5">
  <div class="text-header">
    <h1>Recent Videos</h1>
  </div>
  <div class="row">
    {% include video.html src="https://www.youtube.com/embed/DgY-vuegWP4"
                          title="O Nightingale"
                          composer="Parissa Sabet"
    %}
    {% include video.html src="https://www.youtube.com/embed/7HY7zdiBhcY"
                          title="The Desert"
                          composer="Zoë Wallace"
    %}
    {% include video.html src="https://www.youtube.com/embed/fD-DcsFwR1g"
                          title="Flame and Shadow, Love and War"
                          composer="Tabes Bridges"
    %}
  </div>

  <div class="row">
    {% include video.html src="https://www.youtube.com/embed/Lc8gN9BY1Vs"
                          title="Loch Lomond"
                          composer="Ian Wise"
    %}
    {% include video.html src="https://www.youtube.com/embed/npiTjk3wZkc"
                          title="Oh, the wind and the rain"
                          composer="Zachary James Ritter"
    %}
    {% include video.html src="https://www.youtube.com/embed/3w0Dlotxu80"
                          title="Ephphthea"
                          composer="Sarah Horick"
    %}
  </div>
  <div class="row">
    {% include video.html src="https://www.youtube.com/embed/qBjPGs1Mzso"
                          title="Fire and Water"
                          composer="Austin Gray Williams"
    %}
    {% include video.html src="https://www.youtube.com/embed/JaFEvn5nR-E"
                          title="The Second Coming"
                          composer="Zoë Wallace"
    %}
  </div>
</div>

<div class="col-12 white-bg mt-5">
  <div class="text-header">
    <h1>Recent Audio</h1>
  </div>

  <div class="row">
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262612&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="....and suddenly it appeared"
                          composer="Anthony R. Green"
                          sc_title="....and suddenly it appeared by Anthony R. Green"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/762262588&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="Four Songs on War"
                          composer="Zoë Wallace"
                          sc_title="Four Songs on War by Zoë Wallace"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/738394270&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="Histoire du Tango"
                          composer="Astor Piazzolla"
                          sc_title="Histoire du Tango by Astor Piazzolla"
    %}
  </div>

  <div class="row">
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/738394267&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="Thoughts"
                          composer="Darlene Castro"
                          sc_title="Thoughts by Darlene Castro"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/738394255&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="Tiempo del Hombre"
                          composer="Maximo Diego Pujol"
                          sc_title="Tiempo del Hombre by Maximo Diego Pujol"
    %}
    {% include audio.html src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/738394273&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                          title="4 Russian Songs"
                          composer="Igor Stravinsky"
                          sc_title="4 Russian Songs by Igor Stravinsky"
    %}
  </div>

</div>
